div#badge {
    width: 200px;
    height: 172px;
    font: normal 16px Roboto,arial,sans-serif;
}

div#badge a {
    color: #262626;
    text-decoration: none;
}

div#badge a:hover, div#badge a:active {
    color: #427fed;
    text-decoration: underline;
}

div.border {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;

    padding: 10px
}

div.center {
    text-align: center;
}

img#photo {
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;

    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}
