div#profile {
    width: 300px;
    height: 561px;
    font: normal 16px Roboto,arial,sans-serif;
}

div#profile a {
    color: #262626;
    text-decoration: none;
}

div#profile a:hover, div#profile a:active {
    color: #427fed;
    text-decoration: underline;
}

div#badge {
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;

    padding: 10px;
    margin-bottom: 4px;
}

img#photo {
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;

    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}
