img {
    border-style: none;
}

div#language-selector {
    img.flag {
        width: 16px;
        height: 16px;
        vertical-align: bottom;
    }
    @media (min-height:700px) {
        position: relative;

        div:first-child {
            text-align: right;
            position: absolute;
            top: -21px;
            width: 100%;
        }
    }
    @media (max-height:699px) {
        width: 100%;

        div:first-child {
            text-align: right;
            width: 100%;
        }
    }
}

div#profile {
    width: 300px;
    height: 622px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 0;
}

div#contacts {
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;

    border-top: 5px solid #6f85bf;

    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    vertical-align: top;

    font: normal 13px Roboto,arial,sans-serif;

    padding: 15px;

    a {
        color: #427fed;
    }

    div.section {
        margin: 16px 0px 0px;
        padding: 0;

        &:first-child {
            margin-top: 0;
        }

        em {
            color: #262626;
            font: 300 20px Roboto,arial,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
        }
    }
    div.section-body {
        padding-top: 10px;
    }
    ul.contacts {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            height: 16px;
            margin-top: 10px;
            vertical-align: bottom;

            &:first-child {
                margin-top: 0;
            }
        }
    }
    img.icon {
        width: 16px;
        height: 16px;
        padding-right: 5px;
        vertical-align: bottom;
    }
}
