// We have to calculate all sizes to be able to properly align the profile box
// on all devices
@flag-size: 16px;
@badge-height: 202px;
@contacts-height: 373px;
@block-spacing: 4px;
@block-padding: 15px;
@profile-margin: 5px;
@profile-height: (@profile-margin * 2 + @badge-height + @block-spacing + @contacts-height);
@large-screen-height: (@flag-size + @profile-height + @flag-size + 50px);
@large-screen: ~"only screen and (min-height: @{large-screen-height})";

@link-color: #427fed;
@emphasized-color: #262626;
@image-path: "../images";

@contact-icon-size: 16px;


body {
    font: normal 14px Roboto,arial,sans-serif;
}

a {
    color: @emphasized-color;
    text-decoration: none;

    &:hover, &:active {
        color: @link-color;
        text-decoration: underline;
    }

    &:focus {
        outline: 0;
    }
}

img {
    border-style: none;
}


.border-radius(@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.block-border() {
    border: 1px solid #d5d5d5;
    .border-radius(3px);
}

.image(@name) {
    background-image: url("@{image-path}/@{name}");
}

.high-resolution-image(@name, @factor) {
    @media-query: ~"(min--moz-device-pixel-ratio: @{factor}), (-o-min-device-pixel-ratio: @{factor}/1), (-webkit-min-device-pixel-ratio: @{factor}), (min-resolution: @{factor}dppx)";

    @media @media-query {
        .image(@name);
    }
}


.sprite {
    display: inline-block;
    background-repeat: no-repeat;
}


div#language-selector {
    width: 100%;

    font-size: 14px;
    text-align: right;
    line-height: @flag-size;

    // We don't want to take into account language selector block when
    // center profile block
    @media @large-screen {
        position: absolute;
        top: -@flag-size;
    }

    .flag {
        vertical-align: bottom;
    }
}


div#profile {
    width: 300px;

    @media @large-screen {
        height: @profile-height;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    // Emulate margin using border
    border: @profile-margin solid #FFFFFF;
}


div#badge {
    .block-border;

    padding: @block-padding;
    margin-bottom: @block-spacing;

    text-align: center;

    #photo {
        .image("photo.jpg");
        .high-resolution-image("photo-1.5x.jpg", 1.5);
        .high-resolution-image("photo-2x.jpg", 2);
        .high-resolution-image("photo-3x.jpg", 3);
        .high-resolution-image("photo-4x.jpg", 4);

        width: 120px;
        height: 120px;
        background-size: 120px 120px;
        background-repeat: no-repeat;

        border: 0;
        .border-radius(50%);

        margin: 0 auto 10px;
    }

    span.profile-name {
        font-size: 16px;
    }

    span.profile-link {
        font-size: 12px;
        color: #aaaaaa;

    }

    a:hover, a:active {
        span.profile-link {
            color: @link-color;
        }
    }
}


div#about {
    .block-border;
    border-top: 5px solid #6f85bf;
    border-bottom-width: 2px;

    font-size: 14px;
    padding: @block-padding;

    div.section {
        margin: 16px 0px 0px;

        &:first-child {
            margin-top: 0;
        }

        em {
            font-weight: bold;
            font-style: normal;
            color: @emphasized-color;
        }
    }

    div.section-body {
        padding-top: 10px;
    }

    ul.contacts {
        margin: 0;
        padding: 0;

        li {
            height: @contact-icon-size;
            margin-top: 10px;
            list-style-type: none;

            &:first-child {
                margin-top: 0;
            }

            a {
                color: @link-color;
                vertical-align: middle;
            }

            .contact-icon {
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }
}


.sprite.contact-icon {
    .image("sprite-contact-icon.png");
    .high-resolution-image("sprite-contact-icon-1.5x.png", 1.5);
    .high-resolution-image("sprite-contact-icon-2x.png", 2);
    .high-resolution-image("sprite-contact-icon-3x.png", 3);
    .high-resolution-image("sprite-contact-icon-4x.png", 4);

    width: @contact-icon-size;
    height: @contact-icon-size;
    background-size: (@contact-icon-size * 9) @contact-icon-size;
}

.sprite.contact-icon.blogger { background-position: 0px 0px; }
.sprite.contact-icon.facebook { background-position: -16px 0px; }
.sprite.contact-icon.github { background-position: -32px 0px; }
.sprite.contact-icon.gmail { background-position: -48px 0px; }
.sprite.contact-icon.gplus { background-position: -64px 0px; }
.sprite.contact-icon.linkedin { background-position: -80px 0px; }
.sprite.contact-icon.moikrug { background-position: -96px 0px; }
.sprite.contact-icon.twitter { background-position: -112px 0px; }
.sprite.contact-icon.vk { background-position: -128px 0px; }


.sprite.flag {
    .image("sprite-flag.png");
    .high-resolution-image("sprite-flag-1.5x.png", 1.5);
    .high-resolution-image("sprite-flag-2x.png", 2);
    .high-resolution-image("sprite-flag-3x.png", 3);
    .high-resolution-image("sprite-flag-4x.png", 4);

    width: @flag-size;
    height: @flag-size;
    background-size: (@flag-size * 2) @flag-size;
}

.sprite.flag.en { background-position: 0px 0px; }
.sprite.flag.ru { background-position: -16px 0px; }
