// We have to calculate all sizes to be able to properly align the profile box
// on all devices
@flag-size: 16px;
@badge-height: 202px;
@contacts-height: 373px;
@block-spacing: 4px;
@block-padding: 15px;
@profile-margin: 5px;
@profile-height: (@profile-margin * 2 + @badge-height + @block-spacing + @contacts-height);
@large-screen-height: (@flag-size + @profile-height + @flag-size + 50px);
@large-screen: ~"(min-height: @{large-screen-height})";

@link-color: #427fed;
@emphasized-color: #262626;

body {
    font: normal 14px Roboto,arial,sans-serif;
}

a {
    color: @emphasized-color;
    text-decoration: none;

    &:hover, &:active {
        color: @link-color;
        text-decoration: underline;
    }

    &:focus {
        outline: 0;
    }
}

img {
    border-style: none;
}


.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.block-border () {
    border: 1px solid #d5d5d5;
    .border-radius(3px);
}


div#language-selector {
    width: 100%;

    font-size: 14px;
    text-align: right;
    line-height: @flag-size;

    // We don't want to take into account language selector block when
    // center profile block
    @media @large-screen {
        position: absolute;
        top: -@flag-size;
    }

    img {
        width: @flag-size;
        height: @flag-size;
        vertical-align: bottom;
    }
}


div#profile {
    width: 300px;

    @media @large-screen {
        height: @profile-height;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    // Emulate margin using border
    border: @profile-margin solid #FFFFFF;
}


div#badge {
    .block-border;

    padding: @block-padding;
    margin-bottom: @block-spacing;

    text-align: center;

    img#photo {
        border: 0;
        .border-radius(50%);

        display: block;
        margin: 0 auto 10px;
    }

    span.profile-name {
        font-size: 16px;
    }

    span.profile-link {
        font-size: 12px;
        color: #aaaaaa;

    }

    a:hover, a:active {
        span.profile-link {
            color: @link-color;
        }
    }
}


div#about {
    .block-border;
    border-top: 5px solid #6f85bf;
    border-bottom-width: 2px;

    font-size: 14px;
    padding: @block-padding;

    div.section {
        margin: 16px 0px 0px;

        &:first-child {
            margin-top: 0;
        }

        em {
            font-weight: bold;
            font-style: normal;
            color: @emphasized-color;
        }
    }

    div.section-body {
        padding-top: 10px;
    }

    ul.contacts {
        margin: 0;
        padding: 0;

        li {
            @favicon-size: 16px;

            height: @favicon-size;
            margin-top: 10px;
            list-style-type: none;

            &:first-child {
                margin-top: 0;
            }

            a {
                color: @link-color;
            }

            img.icon {
                width: @favicon-size;
                height: @favicon-size;
                padding-right: 5px;
                vertical-align: bottom;
            }
        }
    }
}
