img {
    border-style: none;
}

img.flag {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

div#badge {
    width: 300px;
    height: 233px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 0;
}
