<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{full_name}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">

        <link rel="icon" sizes="16x16" type="image/x-icon" href="{{url_for("static", filename="images/favicon.ico")}}">
        <link rel="icon" sizes="48x48" type="image/png" href="{{url_for("static", filename="images/favicon.png")}}">

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic">
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style.css")}}">

        <noscript>
            <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/noscript.css")}}">
        </noscript>

        <title>{{full_name}}</title>
    </head>

    <body>
        <div id="profile">
            <div id="language-selector">
            <div>
                <a href="{{url_for("index", lang="ru")}}"><img
                    class="flag" title="Русская версия" alt="ru"
                    src="{{url_for("static", filename="images/flag-ru.png")}}"></a>
                <a href="{{url_for("index", lang="en") }}"><img
                    class="flag" title="English version" alt="en"
                    src="{{url_for("static", filename="images/flag-us.png")}}"></a>
            </div>
            </div>

            <div class="g-person" data-width="300" data-showtagline="false"
                data-showcoverphoto="false" data-rel="author"
                data-href="//plus.google.com/117508430140925454932"></div>

            <!-- TODO microdata -->
            <noscript>
                <div id="badge" itemscope itemtype="http://schema.org/Person">
                    <a href="https://www.google.com/+DmitryKonishchev" itemprop="url">
                        <img id="photo" width="120" height="120" itemprop="image"
                            src="{{url_for("static", filename="images/photo.jpg")}}">
                        <span itemprop="name">{{full_name}}</span>
                    </a>
                </div>
            </noscript>

            <div id="contacts">
                <div class="section">
                    <em>{{full_name}}</em>
                    <div class="section-body">{{location}}<br>{{occupation}}</div>
                </div>

                <div class="section">
                    <em>{{_("Contacts:")}}</em>
                    <div class="section-body">
                    <ul class="contacts">
                        {% for contact in contacts %}<li class="contact">
                            <img class="icon" src="{{url_for("static", filename="images/external-favicons/" + contact[0] + ".ico")}}"><a
                                href="{{contact[1]}}">{{contact[2]}}</a>
                        </li>{% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            window.___gcfg = {lang: '{{lang}}'};

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
    </body>
</html>
