<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{full_name}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">

        <link rel="icon" sizes="16x16" type="image/x-icon" href="{{url_for("static", filename="images/favicon.ico")}}">
        <link rel="icon" sizes="48x48" type="image/png" href="{{url_for("static", filename="images/favicon.png")}}">

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic">
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style.css")}}">

        <title>{{full_name}}</title>
    </head>

    <body>
        <div id="profile" itemscope itemtype="http://schema.org/Person">
            <div id="language-selector">
                <a href="{{url_for("index", lang="ru")}}"><img title="Русская версия" alt="ru"
                    src="{{url_for("static", filename="images/flag-ru.png")}}"></a>
                <a href="{{url_for("index", lang="en") }}"><img title="English version" alt="en"
                    src="{{url_for("static", filename="images/flag-us.png")}}"></a>
            </div>

            <div class="g-person" data-width="300" data-showtagline="false"
                data-showcoverphoto="false" data-rel="author"
                data-href="//plus.google.com/117508430140925454932"></div>

            <noscript>
                <div id="badge">
                    <a href="https://www.google.com/+DmitryKonishchev">
                        <img id="photo" width="120" height="120" itemprop="image"
                            src="{{url_for("static", filename="images/photo.jpg")}}">
                        {{full_name}}
                    </a>
                </div>
            </noscript>

            <div id="about">
                <div class="section">
                    <em itemprop="name">{{full_name}}</em>
                    <div class="section-body">
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="addressRegion">{{location}}</span>
                        </span><br>
                        <span itemprop="jobTitle">{{occupation}}</span>
                    </div>
                </div>

                <div class="section">
                    <em>{{_("Contacts:")}}</em>
                    <div class="section-body">
                        <ul class="contacts">
                            {% for contact in contacts %}<li>
                                <img class="icon" src="{{url_for("static", filename="images/external-favicons/" + contact.name + ".ico")}}"><a
                                    href="{{contact.url}}" itemprop="{{contact.itemprop}}">{{contact.title}}</a>
                            </li>{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            window.___gcfg = {lang: '{{lang}}'};

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
    </body>
</html>
